.container-cats {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;

    margin: 0px;
    padding: 0px;

}

.footer {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;

    font-size: 18px;
}
